<div class="px-5 sm:px-30 xl:px-50 mt-15">
  @if (sectionTitle) {
    <div class="div-section-spaced xl:mt-30">
      <div class="vertical-black-bar"></div>
      <span class="text-center text-2xl font-semibold tracking-[5px] mx-10"> {{ sectionTitle | uppercase }} </span>
      <div class="vertical-black-bar"></div>
    </div>
  }
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 mt-5 lg:mt-10">
    @for (s of skills(); track s.id) {
      <div class="mt-5 flex flex-col items-center">
        <img [src]="s.imgSrc" class="h-15 w-15 mb-2 object-contain p-1" [alt]="s.name" />
        <span class="text-center w-full">{{ s.name }}</span>
      </div>
    }
  </div>
</div>
