<app-link-box [title]="'SKILLS.TITLE'"></app-link-box>
<app-skill-section [sectionTitle]="'SKILLS.USING_NOW'" [skills]="using()"></app-skill-section>
<app-skill-section [sectionTitle]="'SKILLS.USED'" [skills]="used()"></app-skill-section>
<app-skill-section [sectionTitle]="'SKILLS.LEARNING'" [skills]="learning()"></app-skill-section>
<app-skill-section [sectionTitle]="'SKILLS.OTHER'" [skills]="other()"></app-skill-section>
<app-link-box [title]="'CERTIFICATIONS.TITLE'" [redirectUrl]="'certifications'"></app-link-box>
<div class="pb-15"></div>
