<div class="w-full bg-black p-3 justify-center sm:flex hidden">
  @for (r of routes; track $index;) {
    @if (r.path?.length) {
      <app-navbutton [text]="r.data ? r.data['title'] : 'No title'" [url]="r.path ? r.path : ''"></app-navbutton>
    }
  }
</div>


<div class="flex justify-end sm:hidden mb-20">
  <!-- Top bar -->
  <div class="fixed top-0 left-0 w-full z-100 flex justify-end items-center p-4 bg-black">
    <!--    <div class="text-white font-bold text-xl">-->
    <!--      <img src="assets/logo.svg" alt="Logo" class="h-6"/>-->
    <!--    </div>-->
    <button (click)="toggleMenu()" class="focus:outline-none">
      <div class="bg-white w-[25px] h-[3px] m-[5px]" [@hamburgerX]="!isOpen ? 'hamburger' : 'topX'"></div>
      <div class="bg-white w-[25px] h-[3px] m-[5px]" [@hamburgerX]="!isOpen ? 'hamburger' : 'hide'"></div>
      <div class="bg-white w-[25px] h-[3px] m-[5px]" [@hamburgerX]="!isOpen ? 'hamburger' : 'bottomX'"></div>
    </button>
  </div>
  <!-- Full screen menu -->
  @if (isOpen) {
    <div class="fixed inset-0 bg-black/80 z-30" (click)="toggleMenu()"></div>
    <div
      @slideDown
      class="fixed top-15 left-0 w-full h-[45vh] z-40 bg-black/80 text-white flex flex-col items-center justify-center space-y-6 text-lg font-semibold shadow-md rounded-b-2xl">
      @for (r of routes; track $index; let last = $last) {
        @if (r.path?.length) {
          <app-navitem (toggleMenu)="toggleMenu()" [href]="r.path ? r.path : ''" [title]="r.data ? r.data['title'] : 'No title'" [last]="last"></app-navitem>
        }
      }
    </div>
  }
</div>
