<div class="div-section-spaced">
  <div class="border-5 border-black p-5 w-90 text-center">
    <span class="font-bold text-2xl tracking-[7px]">ABOUT ME</span>
  </div>
</div>
<div class="div-section-spaced">
    <p> Qualcosa su di me: cagate</p>
</div>
<div class="div-section-spaced">
  <div class="vertical-black-bar"></div>
  <div class="font-semibold text-xl tracking-[1px] mx-10">
    EXPLORE
  </div>
  <div class="vertical-black-bar"></div>
</div>
<div class="div-section-spaced">
  <img ngSrc="./assets/imgs/black-separator-1.png" alt="black_separator" height="12" width="170"/>
</div>

