<app-link-box [title]="'ABOUT ME'"></app-link-box>
<div class="div-section-spaced">
    <p> Qualcosa su di me: cagate</p>
</div>
<div class="div-section-spaced">
  <div class="vertical-black-bar"></div>
  <div class="font-semibold text-xl tracking-[1px] mx-10">
    EXPLORE
  </div>
  <div class="vertical-black-bar"></div>
</div>
<div class="div-section-spaced">
  <app-black-separator></app-black-separator>
</div>
<div class="grid grid-cols-1 sm:grid-cols-4 gap-4 mt-10 px-3 sm:px-10 xl:px-30">
  @for (s of services; track s.id; let last = $last) {
    <div [ngClass]="last && services.length % 2 !== 0 ? 'sm:col-start-2 sm:col-end-4 sm:justify-self-center' : 'sm:col-span-2'" class="mt-10 sm:mt-10">
      <app-services
        [bgImg]="s.imgSrc"
        [serviceTitle]="s.title"
        [description]="s.description">
      </app-services>
    </div>
  }
</div>

<app-link-box [title]="'SKILLS'" [redirectUrl]="'skills'"></app-link-box>
<br>
